*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

landing-page {
    height: auto;
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;

}

nav{
    position: fixed;
    background: linear-gradient(to right, #01ff80, #0095ff);
    height: 95px;
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.3) 0.5px;
}


.logo {
    margin-left: 25px;
    margin-top: 13px;
    margin-right: 10px;
    height: 70px;
    float: left;
    width: 90px;
}

.socials-link1 {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-left: 200px;
}

.socials-link {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: 5px;
}

.main-banner {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: auto;
    margin-top: 80px; 
}

.objects {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: 100vh;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}

.box li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    animation-duration: 5.5s;
}

.box li:nth-child(4) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(0);
    }
    100% {
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.wrapper ul{
    height: auto;
    display: flex;
    justify-content: left;
}

.wrapper ul li{
    display: inline-block;
    padding: 35px 15px;
}

.wrapper ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px 15px;
}

.wrapper ul li a:hover{
    color: black;
}

.wrapper h1 {
    text-align: left;
    color: white;
    font-size: 40px;
    margin-left: 20%;
    margin-top: 255px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.wrapper p{
    text-align: center;
    font-size: 18px;
    width: 500px;
    margin-left: 15%;
    color: white;
    line-height: 1.7;
}

.professional-pic {
    float: left;
    border-radius: 50px;
    height: 510px;
    width: 350px;
    margin-left: 65%;
    margin-top: 150px;
    margin-bottom: 0;
}

.skills-page {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: auto;
    border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.skillset {
    font-size: 41pt;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 150px;
    overflow: hidden;
    text-align: center;

}

.skills-card {
    float: left;
    border-radius: 20%;
    margin-top: 25px;
    margin-right: 110px;
    margin-bottom: 75px;
    height: 200px;
    width: 200px;
    filter: drop-shadow(3px 3px 3px grey);
    position: relative;
    
}

.skillset h1{
    margin-left: -11%;
}

.projects-page {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: auto;
    border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.project-list {
    font-size: 41pt;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 10%;
    padding-bottom: 10%;
    overflow: hidden;
    text-align: center;
}

.project-list h1{
    margin-left: -12%;

}

.project-card {
    float: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 75px;
    margin-bottom: -25px;
    margin-right: 0px;
    height: 275px;
    width: 500px;
    filter: drop-shadow(3px 3px 3px grey);
    position: relative;
}

.experience-page {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: auto;
    border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.experience-list {
    font-size: 41pt;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 10%;
    padding-bottom: 10%;
    overflow: hidden;
    text-align: center;
}

.experience-list h1{
    margin-left: -12%;
}

.experience-card {
    float: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 75px;
    margin-bottom: -25px;
    margin-right: 0px;
    height: 275px;
    width: 500px;
    filter: drop-shadow(3px 3px 3px grey);
    position: relative;
}

.experience-card2 {
    border-radius: 20px;
    margin-left: 25vw;
    margin-top: 75px;
    margin-right: 0px;
    height: 22vh;
    width: 45vw;
    filter: drop-shadow(3px 3px 3px grey);
}

.contact-page {
    background: linear-gradient(to right, #01ff80, #0095ff);
    width: 100%;
    height: auto;
    border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.contact-list {
    font-size: 41pt;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 0;
    padding-bottom: 5%;
    overflow: hidden;
    text-align: center;
}

.contact-list h1{
    margin-left: -1%;
}

.professional-pic2 {
    float: left;
    border-radius: 50px;
    position: relative;
    height: 450px;
    width: 300px;
    margin-left: 23%;
    margin-top: 40px;
    margin-bottom: 0px;
}

.call-card {
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 160px;
    margin-right: 0px;
    height: 79px;
    width: 400px;
    filter: drop-shadow(3px 3px 3px grey);
}

.email-card {
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 79px;
    width: 400px;
    filter: drop-shadow(3px 3px 3px grey);
}

.footer {
    background: #0095ff;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 40px;
}

.bottom-panel-text {
    font-size: 25px;
}

.footer ul{
    height: auto;
    display: flex;
    justify-content: center;
}

.footer ul li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.footer ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer ul li a:hover{
    color: black;
}

@media (max-width: 1350px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 130px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }
}

@media (max-width: 1280px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 100px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }
}

@media (max-width: 1250px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 70px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }
}

@media (max-width: 1220px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 40px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }
}

@media (max-width: 1190px) and (min-width:1010px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 20px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }

    .wrapper ul li{
        display: inline-block;
        padding: 35px 5px;
    }
}

@media (max-width: 1010px) {

    .wrapper ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0;
        padding: 0;
    }

    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 500px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }

    .wrapper h1 {
        text-align: left;
        color: white;
        font-size: 40px;
        margin-left: 10%;
        margin-top: 255px;
        margin-bottom: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
    }
    
    .wrapper p{
        text-align: center;
        font-size: 18px;
        width: 500px;
        margin-left: 3%;
        color: white;
        line-height: 1.7;
        align-items: center;
        justify-content: center;
    }

    .professional-pic {
        float: left;
        border-radius: 20px;
        height: 255px;
        width: 175px;
        margin-left: 70%;
        margin-top: 260px;
        margin-bottom: 0;
    }
}

@media (max-width: 921px) {
    .call-card {
        border-radius: 20px;
        margin-left: 1%;
        margin-top: 60px;
        margin-right: 0px;
        height: 79px;
        width: 400px;
        filter: drop-shadow(3px 3px 3px grey);
    }
    
    .email-card {
        border-radius: 20px;
        margin-left: 1%;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-right: 0px;
        height: 79px;
        width: 400px;
        filter: drop-shadow(3px 3px 3px grey);
    }

}

@media (max-width: 850px) {

    .wrapper ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0;
        padding: 0;
    }

    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 300px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }
}

@media (max-width: 740px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 170px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }

    .wrapper h1 {
        text-align: left;
        color: white;
        font-size: 40px;
        margin-left: 20%;
        margin-top: 130px;
        margin-bottom: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
    }
    
    .wrapper p{
        text-align: center;
        font-size: 18px;
        width: 500px;
        margin-left: 10%;
        color: white;
        line-height: 1.7;
    }

    .professional-pic {
        float: left;
        border-radius: 10px;
        height: 190px;
        width: 132px;
        margin-left: 40%;
        margin-top: 440px;
        margin-bottom: 0;
    }

    .skillset h1{
        margin-left: -45%;
    }

    .project-card {
        float: left;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: 75px;
        margin-bottom: -25px;
        margin-right: 0px;
        height: 206px;
        width: 375px;
        filter: drop-shadow(3px 3px 3px grey);
        position: relative;
    }

    .experience-card {
        float: left;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: 75px;
        margin-bottom: -25px;
        margin-right: 0px;
        height: 206px;
        width: 375px;
        filter: drop-shadow(3px 3px 3px grey);
        position: relative;
    }

    .footer ul li{
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .footer ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 5px;
    }
}

@media (max-width: 605px) {

    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 100px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }

    .project-card {
        float: left;
        border-radius: 20px;
        margin-left: 10px;
        margin-top: 75px;
        margin-bottom: -25px;
        margin-right: 0px;
        height: 206px;
        width: 375px;
        filter: drop-shadow(3px 3px 3px grey);
        position: relative;
    }

    .experience-card {
        float: left;
        border-radius: 20px;
        margin-left: 10px;
        margin-top: 75px;
        margin-bottom: -25px;
        margin-right: 0px;
        height: 206px;
        width: 375px;
        filter: drop-shadow(3px 3px 3px grey);
        position: relative;
    }


}

@media (max-width: 500px) {


    .socials-link1 {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-left: 40px;
    }
    
    .socials-link {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        margin-right: 5px;
    }

    .wrapper h1 {
        text-align: left;
        color: white;
        font-size: 40px;
        margin-left: 15%;
        margin-top: 130px;
        margin-bottom: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
    }
    
    .wrapper p{
        text-align: center;
        font-size: 18px;
        width: 500px;
        margin-left: 0%;
        color: white;
        line-height: 1.7;
    }

    .professional-pic {
        float: left;
        border-radius: 10px;
        height: 190px;
        width: 132px;
        margin-left: 38%;
        margin-top: 440px;
        margin-bottom: 0;
    }

    .professional-pic2 {
        float: left;
        border-radius: 50px;
        position: relative;
        height: 450px;
        width: 300px;
        margin-left: 20%;
        margin-top: 40px;
        margin-bottom: 0px;
    }

}